.language{
    display: flex;
    margin-bottom: 30px;
}

.python{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-right: 20px;
}
.javascript{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-right: 20px;
}
.html{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-right: 20px;
}
.vue{
    width: 100px;
    height: 100px;
    background-color: green;
    margin-right: 20px;
}

.pyhthonbtn{
    width: 60px;
    height: 50px;
    background-color: blueviolet;
    margin-right: 20px;
}
.javascriptbtn{
    width: 70px;
    height: 50px;
    background-color: yellow;
    margin-right: 20px;
}
.htmlbtn{
    width: 60px;
    height: 50px;
    background-color: orange;
    margin-right: 20px;
}
.vuebtn{
    width: 60px;
    height: 50px;
    background-color: green;
    margin-right: 20px;
}

.show{
    background-color: red;
}

button{
    border: unset;
    cursor: pointer;
}